@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    flex-wrap: wrap;
    display: flex;
    
}

.bg-grey{
    background-color: black
}

.card{
    margin: 10px;
    width: calc(100% / 6 - 20px);
    background-color: black;
   
}

.title-card{
    color: white;
}

.navbar{
    width: 1200px;
    margin: 0 auto;
    height: 120px;
    align-items: center;
}

.list{
    display: flex;
    list-style: none;
}

.list li{
    padding: 0 20px;
}

.list li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;

}

.jumbo img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    
}

.active{
    border-bottom: 5px solid blue;
}

.container-home{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
